/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	/* background-image: url('back.jpg');
	background-size: 100%; */
}

html, 
body {
    height: 100%;
		margin: 0;
		background-color: black;
		--nav-load-time: 300ms;
		--nav-link-load-time: 500ms;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
		width: 100%;
		height: auto;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Maitree', sans-serif;
	clear: both;
}

.site-header {
	text-align: center;
	padding: 0 1.25rem;
}

p.site-title {
	font-size: 3rem;
	margin: .625rem 0;
}

p.site-title a {
	color: #0085ba;
	text-decoration: none;
}

p {
	margin: 0 0 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*header AK stuff*/

.site-navigation ul {
	list-style: none;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
}

.site-navigation li:hover {
	background-color:#ffffff44;
}

/*Works Page AK*/
.works {
	background-image: linear-gradient(30deg, #8EC5FC 0%, #E0C3FC 100%);
	width: 100%;
	min-height: 400px;
	background-size: cover;
	background-blend-mode:lighten;
	position:relative;
	bottom:70px;
}

#post-77:hover {
		background-image: 
	url('woo.png');
}
.single-work {
	pointer-events: none;
}	
.works-title {
	text-align: center;
	position: relative;
	color:palegoldenrod;
	top:150px;
	font-size: 2.5em;
	overflow: hidden;
}

#post-68:hover {
	background-image:
	url('react.jpg');
}

#post-86:hover {
	background-image:
	url('rep.jpg');
}

#post-84:hover {
	background-image:
	url('typing.jpg');
}

#post-77 img{
	display: none;
}
#post-68 img{
	display: none;
}
#post-86 img{
	display: none;
}
#post-84 img{
	display: none;
}

.work-content {
	text-align: center;
}
.work-content h4 {
	position: relative;
	bottom:30px;
	margin-top: 10px;
	font-size: 2rem;
}
.work-content p {
	position: relative;
	bottom:30px;
}

/*Home page styling AK*/

.has-text-align-left {
	background-color: #ff4cff 0;
	background-image: linear-gradient(45deg, #ff4cff 0, #ff813d);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	font-size: 1.8rem;
}
 /* About AK styling*/
 .headshot {
		/* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) */
			background-image: url('favicon.png') ;
			background-size: 140%;
			background-position: center;
			width: 100%;
			min-height: 350px;

}

.about-title {
		font-family: 'Inconsolata', monospace;
		font-weight: 200;
		text-align: center;
		animation: article-load 3000ms ease-in var(--article-load-delay) infinite;
		animation-fill-mode: forwards;
		transform: translate(-20px);
		opacity: 0;
		margin-top:10px;
}
@keyframes article-load	{
	0% {
		transform: translate(-10px);
		opacity: 0;
	}
	100% {
		transform: translate(0px);
		opacity: 1;
	}
}
.about-section p {
	color: black;
	position: relative;
	text-align: center;
	font-size: 1.3em;
	font-family: 'Inconsolata', monospace;
	animation: article-load 3000ms ease-in calc(var(--article-load-delay) +200ms);
	animation-fill-mode: forwards;
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%)
}
@keyframes article-load	{
	0% {
		transform: translate(-10px);
		opacity: 0;
	}
	100% {
		transform: translate(0px);
		opacity: 1;
	}
}

.entry-content {
	text-align: center;
	position: relative;
	top:-40px;
	font-family: 'brandon grotesque';
}
.has-text-align-right {
	font-size: 3em;
}

/*home page view button AK*/
.wrapper-button {
	text-align: center;
	margin-top:25px;
	outline:none;
}

.home-button {
	border-radius: 10px;
	background-color: #ff4cff;
	padding: 15px;
	box-shadow: inset 0 0 0 0 #f9e506;
	transition: ease-out 2s;
	text-decoration: none;
}

.home-button:hover {

	box-shadow: inset 300px 0 0 0 #ff813d;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	 /* Fallback for when there is no custom background color defined. */
	min-height: 100vh;
	width: 100%;
	/* background-image: url('back.jpg'); */
	--nav-load-time: 500ms;
	--nav-link-load-time: 500ms;
	--article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
	
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}


ul,
ol {
	margin: 0 0 1.5em 3em;
	padding: 0;
}

p + ul,
p + ol {
	margin: -1em 0 1.5em 3em;
}

/*not display ul dot in React Tabo*/
ul {
	list-style-type: '';
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: #fafafa;
}

a:visited {
	color: #fafafa;
}

a:hover,
a:focus,
a:active {
	color:#eee;
}

a:focus {
	outline: solid;
}


a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: black;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.loading {
    display: block;
	margin: 0 auto;
}

#root {
 /* background-image: url('back.jpg'); */
	margin: 1.25rem auto;
	max-width: 960px;
	/* height: 1000px; */
}

#main {
	padding: 0.5rem;
	margin: 0 auto;
  min-height: 18.75rem;
	/* background-image: url('back.jpg'); */
		/* background-size: 100%; */
}

#main article {
	position: relative;
	margin-bottom: 5rem;
}

#main article::after {
	content: '';
	position: absolute;
	bottom: -3rem;
	left: 0;
	right: 0;
	display: block;
	width: 12.5rem;
	height: 1px;
	margin: 0 auto;
	background-color: black;
}



/* Contact Styling */

.contact-heading {
	font-family: 'Inconsolata', monospace;
	color:black;
}

.contact-p {
	color:black;
	font-size: 1.3em;
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
} 

.total-contact {
	text-align: center;
	align-items: center;
	background-image: url('back.jpg');
	height:420px;
}
.total-contact img:hover {
	background-color:gray;
}

/*Tablet version AK*/

@media (min-width:768px)  {
	/*header stuff*/
	.site-navigation ul {
		font-size: 25px;
		justify-content:flex-end;
		margin-left: 200px;
	}
		/*hompage content animation stuff*/
	.has-text-align-left {
		display: block;
		margin-top:130px;
		font-size: 50px;
		animation-name: icon_ani;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}

	@keyframes icon_ani {
		from {
		margin-left: 0;
		}
		to {
		margin-right: 400px;
		}
	}
	.entry-content h1, .entry-content h2 {
		animation-name: heading_ani;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
	@keyframes heading_ani {
		from {
		margin-right: 0;
		}
		to {
		margin-left: 400px;
		}
	}

	#post-13 {
		margin-top: 50px;
	}
	/*button animation stuff*/
	.home-button {
		border-radius: 20px;
		background-color: #ff4cff;
		padding: 35px;
		font-size: 30px;
		text-decoration: none;
	}
		/*Hompage image link AK*/
	.icon {
		display: block;
		position: relative;
  	width: 80%;
  	margin: 0 auto 0 auto;
		margin-top:150px;
}
	/*about AK*/ 
	.about {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		margin-bottom:10px;
	}
	.headshot {
		display: block;
		height: 100%;
		width: 220%;
		position: relative;
		right:280px;
	}
	.about-description {
		position: relative;
		font-size: 1.2rem;
		padding-bottom: 10px;
		background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%)
	}
	.tab-div {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		gap :40px;
	}
	/*footer AK*/
	.copyright a {
		font-size: 20px;
	}

	/* contact */
	.total-contact {
		background-size: 100%;
	}
	.total-contact p {
		font-size: 33px;
	}
	.tab-content p{
		padding-top: 20px;
		font-size: 1.5rem;
	}
} /* end table size stling */

/* header a text styling */
.site-navigation h3 {
	position: relative;
	bottom:30px;
	font-family: 'brandon grotesque';
	font-weight:bold;
	font-size: 1em;
	background-color: #ff4cff 0;
	background-image: linear-gradient(45deg, #ff4cff 0, #ff813d);
	/* background-size: 100%; */
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	
}

.site-navigation a {
	display: block;
	padding: 1rem;
}

footer p {
	margin: 0;
}
.copyright {
	font-family: 'brandon grotesque';
	font-weight: bold;
	padding: 4.25rem;
	font-size: 1rem;
	text-align: center;
	background-color: #ff4cff 0;
	background-image: linear-gradient(45deg, #ff4cff 0, #ff813d);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}

.posts-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.posts-navigation .next-post {
	grid-column: 2/3;
	text-align: right;
}

.featured-image img {
	display: block;
	width: 100%;
	height: 300px;
	object-fit: cover;
}


.icon {
	display: flex;
	position: relative;
}




/*--------------------------------------------------------------
# React Tabs Styling
--------------------------------------------------------------*/
.react-tabs__tab-list{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.react-tabs {
	align-items: center;
	justify-content: center;
}
.tab-content {

	text-align: center;


}

.tab-content h1 {
	background-image: linear-gradient(30deg, #8EC5FC 0%, #E0C3FC 100%);
	background-color: #8EC5FC 0;
	/* background-size: 100%; */
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	text-decoration: underline;
  text-decoration-color: #ebd5d5;
}

.tab-content p {
	color: white;
	margin-top: 20px;
	font-size: 1.2rem;
	font-family: 'Inconsolata', monospace;
	font-weight: 100;
}

.react-tabs__tab button{
	margin: 10px;
	padding: 10px;
	border: 1px solid  #8EC5FC;
	background-color: #8EC5FC 0;
	background-image: linear-gradient(30deg, #8EC5FC 0%, #E0C3FC 100%);
	color:black;
	animation-name: tab_ani;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.react-tabs__tab button:hover {
	color: white;
}
.live-tab {
	position: relative;
	bottom:60px;
	padding: 20px 20px;
	text-align: center;
	background: skyblue;
	border-radius: 25px;
	overflow: hidden;
	border-radius: 20px;
}

.live-tab a {
	padding:10px;
	font-size: 1.4rem;
	background-color: #ff4cff 0;
	background-image: linear-gradient(45deg, #ff4cff 0, #ff813d);
	/* background-size: 100%; */
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}

@media (min-width:1024px) {
	.headshot {
		position: relative;
		right:400px;
	}
}